// COLORS
$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-primary: #1e90ff;
$color-primary-light: #87ceeb;
$color-primary-dark: #000080;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f5e6;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #1a1a1a;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
